nav {
  background-color: rgba(220, 0, 0, 0.2);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.pikachu {
  width: 70px;
  height: auto;
  position: absolute;
  left: 1;
  animation: run 8s linear infinite; /* Apenas o Pikachu terá a animação */
}
.logo1 {
  width: 40px;
  height: auto;
  position: absolute;
  left: 0;
  padding-left: 470px;
}
.logo2 {
  width: 60px;
  height: auto;
  position: absolute;
  left: 0;
  padding-left: 550px;
}

@keyframes run {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Alinha os itens em linha */
}

li {
  margin-right: 15px; /* Espaçamento entre os itens */
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

