.login-background {
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    height:50vh; /* Altura total da janela */
    display: flex; /* Usando Flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    border-radius: 16px; /* Bordas arredondadas */

}

.login-container {
    max-width: 200px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para o formulário */
    border-radius: 16px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Sombra */
    margin-top: 100px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.login-logo {
    height: 5em; /* Define a altura da Pokébola */
    animation: spin 2s linear infinite; /* Animação de rotação */
}